@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.box {
  &__nav {
    @include flex-all-sb;
    margin-bottom: clamp(20px, 2.8vw, 40px);

    &--small {
      margin-bottom: clamp(20px, 2.8vw, 32px);
    }
  }

  &__grid {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: stretch;
  }

  &__item {
    overflow: hidden;

    article {
      width: 100%;
      position: relative;
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &--featured {
    .box__grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 29px 20px;
    }

    .box__item {
      padding: 20px 20px 28px;

      article {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }

    .box__content {
      @include flex-v-center;
      height: 100%;
      background-color: var(--color-grey-900);
      padding: 12px clamp(6px, 1.4vw, 20px);

      a {
        width: 100%;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          z-index: 2;
        }

        &:hover h3 {
          color: var(--color-blue-400);
        }
      }

      h3 {
        color: var(--color-white);
        transition: color 0.4s ease-in-out;
      }

    }
  }

  &--slider {
    .box__nav {
      justify-content: center;
    }

    .box__wrapper {
      max-width: 1160px;
      margin-inline: auto;
      padding: 28px 180px;
    }

    .box__item {
      padding: 0;
    }

  }

  &--hover {
    .box__image {
      position: relative;

      img {
        width: 100%;
      }

      &:hover .box__hover {
        z-index: 5;
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
      }
    }

    .box__hover {
      @include flex-all-center;

      position: absolute;
      inset: 0;
      opacity: 0;
      z-index: -5;
      flex-direction: column;
      gap: 20px;
      padding: clamp(10px, 1.4vw, 20px);
      background-color: var(--color-grey-960);
      color: var(--color-white);
      pointer-events: none;
      transform: translateY(100%);
      transition-property: opacity, z-index, height, transform;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }

    .box__content {
      a::before {
        position: static;
      }

      h3 {
        font-size: clamp(20px, 2.6vi, 28px);
        line-height: 1.16;
        font-weight: var(--fw-300);
      }
    }
  }

  @include media(tablet-wide) {
    &--slider {
      .box__wrapper {
        max-width: 95vw;
        padding: 28px 60px;
      }

      .box__item {
        padding: 0;
      }

    }
  }

  @include media(tablet) {
    .btn {
      &:not(&--mobile) {
        display: none;
      }
    }

    &--featured {
      .box__item {
        padding: 0;
      }
    }

    &--btn {
      .box__grid {
        margin-bottom: 32px;
      }
    }

    &--hover {
      .box__hover {
        opacity: 1;
        z-index: 5;
        pointer-events: auto;
        transform: translateY(0);
        text-align: center;

        .btn {
          display: block;
        }

        p {
          font-size: 16px;
          line-height: 1.4;
        }
      }
    }
  }

  @include media(mobile-l) {
    &--featured {
      .box__grid {
       grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @include media(mobile-m) {
    &--featured {
      .box__grid {
        grid-template-columns: 1fr;
      }

      .box__content {
        text-align: center;
      }
    }

    &--slider {
      .box__wrapper {
        padding: 0;
      }
    }

    &--hover {
      .box__image {
        img {
          aspect-ratio: 4/3;
        }
      }

      .box__hover {
        .btn {
          width: fit-content;
        }
      }
    }
  }

  @include media(mobile-s) {
    &--hover {
      .box__image {
        img {
          aspect-ratio: 3/4;
        }
      }
    }
  }
}