@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.slider {
  &__nav {
    margin-bottom: clamp(32px, 4vw, 48px);

    h2 {
      margin-bottom: 16px;
    }
  }

  &__wrapper,
  &__list {
    position: relative;
    max-width: 95vw;
    margin-inline: 0;
  }

  &__slides {
    align-items: stretch;
    max-width: inherit;
  }

  &__slide {
    @include flex-sb;
    gap: 20px;
    height: auto;
  }

  &__content {
    .accent {
      margin-bottom: 20px;
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__texts {
    p {
      color: var(--color-grey-870);
    }
  }

  &__list {
    padding: clamp(20px, 3.8vw, 40px) 0;
    overflow: visible;
  }

  &__thumb {
    max-width: 200px;

    &:not(:last-of-type) {
      margin-right: 16px;
    }

    img {
      width: 100%;
      aspect-ratio: 5/4;
    }
  }

  &__pagination {
    @include flex-all-center;
    position: absolute;
    gap: 8px;

    *[class].swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      margin: 0 0 0 0;
      transform: translate(0, 0);
      border: 1px solid var(--color-grey-400);
      background-color: var(--color-white);
      opacity: 1;

      &-active {
        background-color: var(--color-blue-400);
        border-color: var(--color-blue-400);
      }
    }
  }

  &__btns {
    @include flex-all-sb;
    gap: 10px;
    width: 100%;
  }

  &__btn {
    @include cover-background;

    height: 60px;
    width: 60px;
    background-image: url("../images/icons/arrow-icon.svg");

    &--prev {
      transform: rotate(180deg);
    }

    &.swiper-button-disabled {
      opacity: 0;
    }
  }

  &--about {
    .slider__wrapper {
      padding-top: 57px;
    }

    .slider__content {
      max-width: 550px;

      h2 {
        margin-bottom: 20px;
      }
    }

    .slider__texts {
      margin-bottom: clamp(32px, 15vw, 187px);
    }

    .slider__pagination {
      top: 0;
      left: 50%;
      bottom: unset;
      transform: translateX(-50%);
      width: fit-content;
    }
  }

  &--discover {
    padding-bottom: 0;

    .slider__slides {
      margin-bottom: clamp(30px, 5.6vw, 80px);
    }

    .slider__slide {
      flex-direction: column;
      justify-content: flex-start;
      padding-right: 140px;
    }

    .slider__content {
      @include flex-sb;
      gap: clamp(16px, 3.6vw, 32px);
    }

    .slider__texts {
      max-width: 423px;

      p {
        font-size: clamp(22px, 2.6vi, 28px);
        line-height: 1.14;
        font-weight: var(--fw-300);
        color: var(--color-black);

        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
    }

    .slider__btns {
      right: 0;
      top: 45%;
      z-index: 5;
      transform: translateY(-70%);
      max-width: fit-content;
      position: absolute;
    }
  }

  &--tours {
    .slider__slide {
      transition: opacity 0.4s ease-in-out;

      &:not(.swiper-slide-active) {
        opacity: 0;
      }
    }

    .slider__btn {
      position: absolute;
      top: 50%;
      z-index: 5;
      transform: translateY(-50%);

      &--next {
        right: 20px;
      }

      &--prev {
        left: 20px;
        transform:  translateY(-50%) rotate(180deg);
      }
    }
  }

  @include media(desktop) {
    &__list {
      overflow-x: hidden;
    }

    &--discover {
      .slider__slide {
        padding-right: 0;
      }

      .slider__top {
        padding-right: 140px;
      }

      .slider__btns {
        top: 0;
        transform: translateY(0);
      }
    }
  }

  @include media(tablet-wide) {
    &--discover {
      .slider__content {
        flex-direction: column;
      }

      .slider__texts {
        max-width: 100%;
      }
    }

    &--tours {
      .slider__btn {
        &--next {
          right: 0;
        }

        &--prev {
          left: 0;
        }
      }
    }
  }

  @include media(tablet) {
    &__slide {
      flex-direction: column;
    }

    &__image {
      img {
        aspect-ratio: 4/2;
      }
    }

    &__thumb {
      &:not(:last-of-type) {
        margin-right: 6px;
      }
    }

    &--about {
      .slider__content {
        max-width: 100%;
      }
    }

    &--reverse {
      .slider__slide {
        flex-direction: column-reverse;
      }
    }
  }

  @include media(mobile-m) {
    &__image {
      img {
        aspect-ratio: 4/3;
      }
    }

    &__btns {
      gap: 0;
    }

    &__btn {
      width: 40px;
      height: 40px;
    }

    .btn {
      width: 100%;
    }

    &--discover {
      .slider__top {
        padding-right: 80px;
      }
    }

    &--tours {
      .slider__slides {
        margin-bottom: 20px;
      }

      .slider__btns {
        justify-content: center;
        gap: 20px;
      }
      .slider__btn {
        position: static;
        transform: translateY(0);

        &--prev {
          transform: translateY(0) rotate(180deg);
        }
      }
    }
  }
}